@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {

    font-family: 'Host Grotesk', Arial, Helvetica, sans-serif;
    background-color: #f8f2ef;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


main {
    padding: 10px;
}

.bmi-intro-content h4:first-child {
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 900;
    font-size: 30px;
}

.bmi-section-text {
    margin-top: 0;
    font-size: 15px;
    text-align: justify;
}

.bmi-section-subheading,
.bmi-section-heading {
    font-size: 20px;
}


.bmi-importance-content::before {
    content: "";
    display: inline-block;
    width: 320px;
    height: 300px;
    background-image: url('BMIphoto1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
}

.bmi-importance-content {
    padding: 0;
    margin: 0;
}


.bmi-text-bold {
    font-weight: bold;
}

@media screen and (min-width: 481px) {}



@media screen and(min-width: 768px) {}


@media screen and (min-width: 1200px) {
    body {

        font-family: 'Host Grotesk', Arial, Helvetica, sans-serif;
        background-color: #f8f2ef;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    #bmi-main-content {
        display: flex;
        justify-content: space-around;

    }

    #bmi-content-container {
        width: 50vw;
    }

    .bmi-right-content {
        background-color: #fff;
        width: 50vw;
    }



    main {
        padding: 20px;
    }



    .bmi-section-text {
        font-size: 16px;
        padding: 0px 30px 0px 0px;
    }

    .bmi-intro-content:nth-child(3) {
        width: 50%;
    }

    .bmi-importance-content::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 400px;
        background-image: url('BMIphoto1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        vertical-align: middle;
    }
}