@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {

    font-family: 'Host Grotesk', Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #faf5f2;
}


main {
    display: flex;
    height: 92vh;
    gap: 20px;

}

#bmi-results-section {
    background-color: #fff;
    margin: 50px;
    width: 50%;
    border-radius: 20px;
    margin-top: 0px;
}

#bmi-form-section {
    width: 50%;
    color: #171614;
}

.bmi-page-logo {
    padding: 20px;
    color: #4e5357;
    letter-spacing: -0.25px;
    font-size: 15px;
}

#bmi-form-section {
    display: flex;
    flex-direction: column;
}

.active-gender {
    border: 2px solid #000;
}

.bmi-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bmi-calculator-description {
    color: #4e5357;
}

.bmi-label {}

.bmi-form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 60%; */
}

.bmi-gender-option {
    /* padding: 10px 5px; */
    border-radius: 5px;
    border: 1px solid #00000065;
    background-color: #fff;
    width: 175px;
    margin-right: 10px;
}

.bmi-input {
    /* width: 65%; */
    width: 310px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #00000065;

}

#age {
    width: 365px;
}

.bmi-select {
    padding: 5px;
    border-radius: 5px;
}

button {
    width: 365px;
    padding: 15px;
    background-color: #fe6f61;
    border: none;
    border-radius: 5px;
}


@media screen and (max-width: 600px) {
    main {
        display: block;
        width: 100vw;
        margin: auto;

    }

    #bmi-form-section {
        margin: 0px;
        padding: 10px;
        height: 100%;
    }

    #bmi-results-section {
        background-color: #fff;
        height: 100%;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
    }
}


@media screen and (min-width: 768px) {
    main {
        width: 85vw;
        margin: auto;
    }

    .bmi-gender-option {
        /* padding: 10px 5px; */
        border-radius: 5px;
        border: 1px solid #00000065;
        background-color: #fff;
        min-width: 175px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 85vw;
        margin: auto;
    }
}